.u1{
    margin-left: 50px;
    color:burlywood;
}

.bt{
    width: 80px;
    height: 30px;
    background-color:burlywood ;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

.bt1{
    text-decoration: none;

}